#dot {
    position: absolute;
    animation-duration: 5s;     
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: -1;
    color: #0676FC;
    left: -10px;
    top: -10px;
}

@keyframes mv1 {
    from {top: -5%;left : 10%;}
    to {top: 101%;left : 101%;}
}

@keyframes mv2 {
    from {top: 10%;left : -3%;}
    to {top: 100%;left : 100%;}
}

@keyframes mv3 {
    from {top: -10%;left : -3%;}
    to {top: 80%;left : 100%;}
}

@keyframes mv4 {
    from {top: -3%;left : -3%;}
    to {top: 100%;left : 90%;}
}