.EventPageBackground {
    background-image: url("http://images2.fanpop.com/images/photos/7800000/Nature-Full-HD-Wallpaper-national-geographic-7822409-1920-1080.jpg"),url('./discuss.png');
    background-size: cover;
    height: fit-content;
    padding: 0;
}

.Wrapper {
    text-align: center;
    width: inherit;
    height: inherit;
    background-color: #00000077;
    color: white;
    padding:  7% 15%;
}